@using System.Linq
@model UniversityManagementAppCore.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<br />
<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span style="font-size: 25px">Update Student</span>
        </div>
        <div class="panel-body">
            <form asp-action="Edit">
                <div class="form-horizontal">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="StudentId" />
                    <div class="form-group">
                        <label asp-for="FirstName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="EnrollmentDate" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="EnrollmentDate" class="form-control" />
                            <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Enrollments" class="col-md-2 control-label"></label>
                        <div class="col-md-10">


                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Course No.</th>
                                        <th>Course Title</th>
                                        <th>Grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var course in ViewBag.AllCourses)
                                    {
                                        string isChecked = "";
                                        string isDisabled = "disabled";
                                        if (Model.Enrollments.Any(x => x.CourseId == course.CourseId))
                                        {
                                            isChecked = "checked";
                                            isDisabled = "";
                                        }
                                        <tr>
                                            <td><input class="course" type="checkbox" name="selectedCourses" value="@course.CourseId" @isChecked /> @course.CourseId</td>
                                            <td>@course.Title</td>

                                            @*<td><select asp-items="@ViewBag.GradeList">
                                                    <option value="">Select Grade</option>
                                                </select></td>*@
                                            <td><input name="grades" value="@Model.Enrollments.Where(e => e.CourseId == course.CourseId).Select(e => e.Grade).FirstOrDefault()" @isDisabled /></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                            <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $(".course").on("change", function () {
                if ($(this).prop('checked')) {
                    $(this).parent().siblings().children("input[name ='grades']").prop('disabled', false);
                } else {
                    $(this).parent().siblings().children("input[name ='grades']").val('').prop('disabled', true);
                }
            });
        })
    </script>
}
